{% extends "landing.html" %}
  	{% block header %}
  		<div id="header" class="row" style='width:100%;height:50px;'>
	  		{% if showMessage == true %}
	  		<h4 style="display:inline;float:left;margin-left:5%;color:white;">{{message}}</h4>
	  		{% endif %}
  		</div>
  	{% endblock %}
  	{% block content %}
  		<div id='table'>
  			{% if showDeck == true %}
  				<div id='deck'>
  					<h4>{{totalCards}}</h4>
  				</div>
  			{% endif %}
  			{% for player in players %}
  				{% if player.name != "dealer" %}
  				<div class='player' style="margin:{{player.tablePos.top}} auto auto {{player.tablePos.left}};" id='{{player.name}}'>
  					<h4>{{player.name}}</h4>
  					<div id='{{player.name}}shand'>
  						{{player.handsValue}}
  					</div>
  					<div id='{{player.name}}sbank'>
  						{{player.funds}}
  					</div>
  					<div id='{{player.name}}sbet'>
  						{{player.bet}}
  					</div>
  				</div>
  				{% else %}
  				<div class='player' style="margin: -27.5% auto auto 47.5%;"id='{{player.name}}'>
  					<h4>{{player.name}}</h4>
  					<div id='{{player.name}}shand'>
  						{{player.handsValue}}
  					</div>
  				</div>
  				{% endif %}
  			{% endfor %}
  		</div>
  	{% endblock %}
