{% extends "landing.html" %}
  	{% block header %}
  		<div id="header" class="row" style='width:100%;height:50px;'>
	  		{% if showMessage == true %}
	  		<h4 style="display:inline;float:left;margin-left:5%;color:white;">{{message}}</h4>
	  		{% endif %}
  		</div>
  	{% endblock %}
  	{% block content %}
  		<div id='table' class="col-lg-12">
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4" id='{{dealer.name}}'>
              <h4>{{dealer.name}}</h4>
              <div id='{{dealer.name}}shand'>
                {{dealer.handsValue}}
              </div>
              <div class='width:50%;'>
                {% for card in dealer.dealer %}
                  <img src="{{card.file}}" style="height:40px;width:30px;">
                {% endfor %}
              </div>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
          {% if showDeck == true %}
            <div id='deck'>
              <a id='deal_button' class='btn btn-primary' href="/deal/{{table_code}}">Start</a>
              <h4>{{totalCards}}</h4>
            </div>
          {% endif %}
          </div>
          <div class='col-lg-4' id='{{first_player.name}}'>
              <div style="clear:both;">
              <a href="/deal/{{table_code}}" class='btn btn-xs' style='background-color: red !important;'>Hit</a>
              <a href="/hold/{{table_code}}" class='btn btn-xs' style='background-color: red !important;'>Hold</a>
              <a href="/double_down/{{table_code}}" class='btn btn-xs' style='background-color: red !important;'>Double Down</a>
              </div>
              <div style='width:50%;float:left;display:inline;'>
                <h4>{{first_player.name}}</h4>
                <div id='{{first_player.name}}shand'>
                  {{first_player.handsValue}}
                </div>
                <div id='{{first_player.name}}sbank'>
                  {{first_player.funds}}
                </div>
                <div id='{{first_player.name}}sbet'>
                  {{first_player.bet}}
                </div>
              </div>
              <div class='width:50%;float:left;display:inline;'>
              {% for card in first_player[first_player.playerNum] %}
                <img src="{{card.file}}" style="height:40px;width:30px;">
              {% endfor %}
              </div>
            <div class='form-group'>
              <form style='form-inline' action="/bet" method="POST">
                  <input type="hidden" name="table_code" value="{{table_code}}">
                  <input type="hidden" name="name" value="{{first_player.name}}">
                  <input type="number" class="form-control" name="bet">
                  <button type="submit" class="btn btn-xs">Bet</button>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
          </div>
        </div>
  		</div>
  	{% endblock %}
