{% extends "landing.html" %}
    {% block header %}
      <div id="header" class="row" style='width:100%;height:50px;'>
        {% if showMessage == true %}
        <h4 style="display:inline;float:left;margin-left:5%;color:white;">{{message}}</h4>
        {% endif %}
      </div>
    {% endblock %}
    {% block content %}
      <div id='table' class="col-lg-12">
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4" id='{{dealer.name}}'>
              <h4>{{dealer.name}}</h4>
              <div id='{{dealer.name}}shand'>
                {{dealer.handsValue}}
              </div>
              <div class='width:50%;'>
                {% for card in dealer.dealer %}
                  <img src="{{card.file}}" style="height:40px;width:30px;">
                {% endfor %}
              </div>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
        <div class="row">
          <div class='col-lg-4' id='{{third_player.name}}'>
              {% if cardSpot != 3 || betSpot <= players.length - 1 %}
                <a href="/deal/{{table_code}}" class='btn btn-xs' style='background-color: red !important;' disabled='true'>Hit</a>
                <a href="/hold/{{table_code}}" class='btn btn-xs' style='background-color: red !important;' disabled='true'>Hold</a>
                <a href="/double_down/{{table_code}}" class='btn btn-xs' style='background-color: red !important;' disabled='true'>Double Down</a>
              {% else %}
                <a href="/deal/{{table_code}}" class='btn btn-xs' style='background-color: red !important;'>Hit</a>
                <a href="/hold/{{table_code}}" class='btn btn-xs' style='background-color: red !important;'>Hold</a>
                <a href="/double_down/{{table_code}}" class='btn btn-xs' style='background-color: red !important;'>Double Down</a>
              {% endif %}
                <a href="/leave/{{table_code}}/{{first_player.playerNum}}" class="btn btn-xs" style='background-color: red !important;'>Leave Table</a>
              <div style='width:50%;'>
                <h4>{{third_player.name}}</h4>
                <div id='{{third_player.name}}shand'>
                  {{third_player.handsValue}}
                </div>
                <div id='{{third_player.name}}sbank'>
                  {{third_player.funds}}
                </div>
                <div id='{{third_player.name}}sbet'>
                  {{third_player.bet}}
                </div>
              </div>
              <div class='width:50%;'>
              {% for card in third_player[third_player.playerNum] %}
                <img src="{{card.file}}" style="height:40px;width:30px;">
              {% endfor %}
              </div>
            <div class='form-group'>
              <form style='form-inline' action="/bet" method="POST">
                  <input type="hidden" name="table_code" value="{{table_code}}">
                  {% if third_player.player_id != undefined %}
                    <input type="hidden" name="UID" value="{{third_player.player_id}}">
                  {% endif %}
                  <input type="number" class="form-control" name="bet" min="1">
                  {% if betSpot != 3 %}
                    <button type="submit" class="btn btn-xs" disabled="true">Bet</button>
                  {% else %}
                    <button type="submit" class="btn btn-xs">Bet</button>
                  {% endif %}
              </form>
            </div>
          </div>
          <div class="col-lg-4">
          {% if showDeck == true %}
            <div id='deck'>
              <a id='deal_button' class='btn btn-primary' href="/deal/{{table_code}}">Start</a>
              <h4>{{totalCards}}</h4>
            </div>
          {% endif %}
          </div>
          <div class='col-lg-4' id='{{first_player.name}}'>
              {% if cardSpot != 1 || betSpot <= players.length - 1 %}
                <a href="/deal/{{table_code}}" class='btn btn-xs' style='background-color: red !important;' disabled='true'>Hit</a>
                <a href="/hold/{{table_code}}" class='btn btn-xs' style='background-color: red !important;' disabled='true'>Hold</a>
                <a href="/double_down/{{table_code}}" class='btn btn-xs' style='background-color: red !important;' disabled='true'>Double Down</a>
              {% else %}
                <a href="/deal/{{table_code}}" class='btn btn-xs' style='background-color: red !important;'>Hit</a>
                <a href="/hold/{{table_code}}" class='btn btn-xs' style='background-color: red !important;'>Hold</a>
                <a href="/double_down/{{table_code}}" class='btn btn-xs' style='background-color: red !important;'>Double Down</a>
              {% endif %}
                <a href="/leave/{{table_code}}/{{first_player.playerNum}}" class="btn btn-xs" style='background-color: red !important;'>Leave Table</a>
              <div style='width:50%;'>
                <h4>{{first_player.name}}</h4>
                <div id='{{first_player.name}}shand'>
                  {{first_player.handsValue}}
                </div>
                <div id='{{first_player.name}}sbank'>
                  {{first_player.funds}}
                </div>
                <div id='{{first_player.name}}sbet'>
                  {{first_player.bet}}
                </div>
              </div>
              <div class='width:50%;'>
              {% for card in first_player[first_player.playerNum] %}
                <img src="{{card.file}}" style="height:40px;width:30px;">
              {% endfor %}
              </div>
            <div class='form-group'>
              <form style='form-inline' action="/bet" method="POST">
                  <input type="hidden" name="table_code" value="{{table_code}}">
                  {% if first_player.player_id != undefined %}
                    <input type="hidden" name="UID" value="{{first_player.player_id}}">
                  {% endif %}
                  <input type="number" class="form-control" name="bet" min="1">
                  {% if betSpot != 1 %}
                    <button type="submit" class="btn btn-xs" disabled="true">Bet</button>
                  {% else %}
                    <button type="submit" class="btn btn-xs">Bet</button>
                  {% endif %}
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class='col-lg-4' id='{{second_player.name}}'>
              {% if cardSpot != 2 || betSpot <= players.length - 1 %}
                <a href="/deal/{{table_code}}" class='btn btn-xs' style='background-color: red !important;' disabled='true'>Hit</a>
                <a href="/hold/{{table_code}}" class='btn btn-xs' style='background-color: red !important;' disabled='true'>Hold</a>
                <a href="/double_down/{{table_code}}" class='btn btn-xs' style='background-color: red !important;' disabled='true'>Double Down</a>
              {% else %}
                <a href="/deal/{{table_code}}" class='btn btn-xs' style='background-color: red !important;'>Hit</a>
                <a href="/hold/{{table_code}}" class='btn btn-xs' style='background-color: red !important;'>Hold</a>
                <a href="/double_down/{{table_code}}" class='btn btn-xs' style='background-color: red !important;'>Double Down</a>
              {% endif %}
                <a href="/leave/{{table_code}}/{{first_player.playerNum}}" class="btn btn-xs" style='background-color: red !important;'>Leave Table</a>
              <div style='width:50%;'>
                <h4>{{second_player.name}}</h4>
                <div id='{{second_player.name}}shand'>
                  {{second_player.handsValue}}
                </div>
                <div id='{{second_player.name}}sbank'>
                  {{second_player.funds}}
                </div>
                <div id='{{second_player.name}}sbet'>
                  {{second_player.bet}}
                </div>
              </div>
              <div class='width:50%;'>
              {% for card in second_player[second_player.playerNum] %}
                <img src="{{card.file}}" style="height:40px;width:30px;">
              {% endfor %}
              </div>
            <div class='form-group'>
              <form style='form-inline' action="/bet" method="POST">
                  <input type="hidden" name="table_code" value="{{table_code}}">
                  {% if second_player.player_id != undefined %}
                    <input type="hidden" name="UID" value="{{second_player.player_id}}">
                  {% endif %}
                  <input type="number" class="form-control" name="bet" min="1">
                  {% if betSpot != 2 %}
                    <button type="submit" class="btn btn-xs" disabled="true">Bet</button>
                  {% else %}
                    <button type="submit" class="btn btn-xs">Bet</button>
                  {% endif %}
              </form>
            </div>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
      </div>
    {% endblock %}
