#table {
	border:1px solid black;
	border-radius: 25px;
	height:500px;
	margin:1% 2.5% 2.5% 2.5%;
}

#deck {
	 position:relative;
	 width:150px;
	 height:75px;
	 margin:20% 42.5% auto auto;
	 border:1px solid black;
	 border-radius: 10px;
	 text-align:center;
}

.player {
	position: relative;
}