#table {
	border:1px solid black;
	border-radius: 25px;
	height:500px;
	margin:1% 2.5% 2.5% 2.5%;
	background: url(http://www.pandorasupholstery.co.uk/products_pictures/Green%20G.JPG) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

#deck {
	 position:relative;
	 width:150px;
	 height:75px;
	 margin:20% 42.5% auto auto;
	 border:1px solid black;
	 border-radius: 10px;
	 text-align:center;
}

.player {
	position: relative;
}

.nav_btn:hover {
	background-color: rgb(236, 99, 99);
}

.navbar-default .navbar-nav > li > a {
	color:black !important;
}

.full {
  background: url(http://images7.alphacoders.com/509/509783.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}